@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 20px 10%;
    background-color: #24252A;
    margin-bottom: 15px;
}

.Links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo span {
    font-size: 30px;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.nav a, li {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding-left: 120px;
}